<div class="general-content">
    <h1 class="titulo-componente">Login</h1>
    <section class="card">
        <form class="form-columns contenedor" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="username" class="form-label">Username:<span>*</span></label>
                <input type="text" id="username" formControlName="username" class="form-control" />
            </div>
            <br>
            <div>
                <label for="password" class="form-label">Password:<span>*</span></label>
                <input type="password" id="password" formControlName="password" class="form-control" />
            </div>
            <br>
            <div class="col-md-4 col align-self-center">
                <button type="submit" class="boton-base boton-primario w-100 mt-3" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </section>
</div>